<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.EmployeeMapper">
    <sql id="selectSql">
        select * from t_emp
    </sql>
    <select id="selectEmployeeByCondition" resultType="Employee">
        <include refid="selectSql">
        </include>
        <where>
            <if test="name != null">
                emp_name = #{name}
            </if>
            <if test="salary != null and salary > 100">
                and emp_salary = #{salary
            </if>
        </where>
    </select>

    <update id="update">
        update t_emp
        <set>
            <if test="empName != null">
                emp_name = #{empName},
            </if>
            <if test="empSalary != null">
                emp_salary = #{empSalary}
            </if>
        </set>
        where emp_id = #{empId}
    </update>

    <insert id="insertBatch">
        insert into t_emp (emp_name, emp_salary) values
        <foreach collection="list" separator="," item="employee">
            (#{employee.empName}, #{employee.empSalary})
        </foreach>
    </insert>
</mapper>