<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.CustomerMapper">
    <resultMap id="customerWithOrderListResultMap" type="Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>
        <collection property="orderList" ofType="Order">
            <id column="order_id" property="orderId"/>
            <result column="order_name" property="orderName"/>
        </collection>
    </resultMap>
    <select id="selectCustomerWithOrderList" resultMap="customerWithOrderListResultMap">
        select c.customer_id, c.customer_name, o.order_id, o.order_name
        from t_customer c
        left join t_order o
        on c.customer_id = o.customer_id
        where c.customer_id = #{customerId}
    </select>
</mapper>